<!DOCTYPE html>
<html>
  <head>
    <title>Board | myMetrics</title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header'); %>

    <section id="target-list">
      <button id="btn" class="create-list">Select Target Items</button>
    </section>

    <section id="board">
      <% for (let j = 0; j < lists.length; j++) { %>
      <div class="todo-list-container">
        <div class="list-header">
          <h4 class="list-name" contenteditable><%= lists[j].listName %></h4>
          <h4 id="<%= lists[j].listID%>" class="list-popup">...</h4>
          <div id="modal-<%=lists[j].listID%>" class="modal">
            <h4 id="modal-title"><span>List Actions</span></h4>
            <p id="<%= lists[j].listID%>" class="delete-list">
              Delete This List..
            </p>
          </div>
        </div>
        <div id="todo-list-<%= lists[j].listID%>" class="items">
          <% for (let i = 0; i < items.length; i++) { %> <% if (items[i].listID
          === lists[j].listID) { %>
          <div
            id="card-<%= items[i].itemID %>"
            class="todo-card"
            draggable="true"
          >
            <div class="todo-content">
              <input type="checkbox" />
              <p class="todo-description"><%= items[i].itemName %></p>
              <br />
              <div class="flaticons">
                <img class="edit" src="../../img/edit.svg" />
                <img class="trash" src="../../img/trash.svg" />
              </div>
            </div>
          </div>
          <% } %> <%}%>
        </div>
        <input
          id="<%= lists[j].listID %>"
          name="itemName"
          class="add-card"
          type="text"
          autocomplete="off"
          placeholder="Add new card.."
        />
      </div>
      <% } %>

      <div>
        <input
          name="newList"
          type="text"
          class="add-list"
          placeholder="Add new list"
        />
      </div>
    </section>

    <script type="module" src="javascript/board.js" async defer></script>
  </body>
</html>
