<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Board | myMetrics</title>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/list.css" />
        <link rel="stylesheet" href="/css/board.css" />
    </head>
    <body>
        <%- include('../partials/header'); %>

        <div id="target-list">
            <div class="target-list-buttons">
                <button class="btn create-list">Select Focus Items</button>
            </div>
            <div class="dropdown">
                <div class="boardname-wrapper">
                    <h2 style="word-break: break-word; text-align: right;"><%= boards.find(o => o.boardid === currentBoardId).boardname %></h2>
                    <svg
                        width="24"
                        height="24"
                        role="presentation"
                        focusable="false"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M11.2929 16.7071L4.22185 9.63606C3.83132 9.24554 3.83132 8.61237 4.22185 8.22185C4.61237 7.83133 5.24554 7.83133 5.63606 8.22185L12 14.5858L18.364 8.22185C18.7545 7.83132 19.3877 7.83132 19.7782 8.22185C20.1687 8.61237 20.1687 9.24554 19.7782 9.63606L12.7071 16.7071C12.3166 17.0977 11.6834 17.0977 11.2929 16.7071Z"
                            fill="currentColor"
                        ></path>
                    </svg>
                </div>
                <div style="word-break:word; overflow:hidden" class="dropdown-content hidden">
                    <% boards.filter(board => board.boardid !== currentBoardId).forEach(board => { %>
                    <a href=<%=`/boards/${board.boardid}/${board.boardname}`%> ><%=board.boardname%></a>
                    <% }) %>
                </div>
            </div>
        </div>

        <section id="board">
            <% lists.forEach(list => { %>
            <div id="<%= list.listid%>" class="todo-list-container" draggable="true" data-rank="<%=list.listposition%>">
                <div class="list-header">
                    <h4
                        id="<%= list.listid%>"
                        class="list-name"
                        ondrop="return false;"
                        contenteditable
                    >
                        <%= list.listname %>
                    </h4>
                    <h4 id="<%= list.listid%>" class="list-popup">...</h4>

                    <div id="modal-<%=list.listid%>" class="modal">
                        <h4 id="modal-title"><span>List Actions</span></h4>
                        <div id='<%=list.listid%>' class="move-list list-modal-item">
                            <span>Move to..</span>
                            <label for="boards"></label>
                                <select name="boards" id="boards">
                                    <%boards.filter(board => board.boardid !== currentBoardId).forEach(board => { %>
                                        <option id='<%=board.boardid%>' value="<%=board.boardname%>"><%=board.boardname.substring(0, 16) + '...'%></option>
                                    <%}) %>
                                </select>
                            <button class="move-btn">Move List</button>
                        </div>
                        <p id="<%= list.listid%>" class="delete-list list-modal-item">
                            Delete List..
                        </p>
                    </div>
                </div>
                <div id="todo-list-<%= list.listid%>" class="items">
                    <% items.forEach(item => { %> <% if (item.listid ===
                    list.listid) { %>
                    <div
                        id="card-<%= item.itemid %>"
                        class="todo-card"
                        draggable="true"
                    >
                        <div class="todo-content">
                            <div class="wrapper">
                                <input type="checkbox" ondrop="return false;" />
                                <p class="todo-description">
                                    <%= item.itemname %>
                                </p>
                            </div>
                            <div class="list-flaticons">
                                <img
                                    class="flaticons edit"
                                    src="/img/edit.svg"
                                />
                                <img
                                    class="flaticons trash"
                                    src="/img/trash.svg"
                                />
                            </div>
                        </div>
                    </div>
                    <% } %> <% }); %>
                </div>
                <textarea
                    id="<%= list.listid %>"
                    name="itemName"
                    class="add-card"
                    placeholder="Add new card.."
                    ondrop="return false;"
                    maxlength="255"
                ></textarea>
            </div>
            <% }); %>

            <div>
                <input
                    name="newList"
                    type="text"
                    class="add-list"
                    placeholder="Add new list"
                    ondrop="return false;"
                />
            </div>
        </section>

        <script type="module" src="/javascript/board.js" async defer></script>
    </body>
</html>
