<!DOCTYPE html>
<html>
  <%- include('../partials/head'); %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <body>
    <%- include('../partials/header');%>

    <div id="boards-charts">

      <section id="boards">
        <input class="create-board" type="text" placeholder="Create new board">
        <button>Create</button>
        <div class="board-list"></div>
        <% for (let i = 0; i < results.length; i++) { %>
        <div class="board-name">
          <% if (results) { %>
          <a href="/boards/<%=results[i].boardID%>/<%=encodeURI(decodeURI(results[i].boardName.toLowerCase()).replace(/ /g, "-"))%>"
            ><%= results[i].boardName %></a
          >
          <% } %>
        </div>
        <% } %>
      </section>
  
      <section class="charts">
          <div>
            <canvas id="myChart"></canvas>
          </div>
          <script>
              const labels = [
    'JavaScript',
    'myMetrics App',
    'Random Bits'
    ];
    const data = {
      labels: labels,
      datasets: [{
        label: 'Number of Items',
        backgroundColor: [ 
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 205, 86, 0.2)'
        ],
        borderColor: [
        'rgb(255, 99, 132)',
        'rgb(255, 159, 64)',
        'rgb(255, 205, 86)',
        ],
        data: [4, 16, 1],
      }]
    };

    const config = {
      type: 'bar',
      data,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };
          </script>
          <script>
            // === include 'setup' then 'config' above ===
          
            var myChart = new Chart(
              document.getElementById('myChart'),
              config
            );
          </script>
      </section>
      
    </div>



    <script
      type="module"
      src="../../../javascript/dashboard.js"
      async
      defer
    ></script>
  </body>
</html>
