<!DOCTYPE html>
<html>
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/header');%>

      <section id="boards-section">
        <input class="create-board" type="text" placeholder="Create new board">
        <button>Create</button>

      <div id="boards">  
        <% for (let i = 0; i < results.length; i++) { %>
          <% if (results) { %>
            <div class="board-card">
          <a class="board-name" href="/boards/<%=results[i].boardID%>/<%=encodeURI(decodeURI(results[i].boardName.toLowerCase()).replace(/ /g, "-"))%>"
            ><%= results[i].boardName %></a
          >
        </div>
          <% } %>
        <% } %>
      </div>
      </section>

    
    <script
      type="module"
      src="../../../javascript/dashboard.js"
      async
      defer
    ></script>
 
  </body>
</html>
