<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard | myMetrics</title>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/css/header.css" class="css" />
        <link rel="stylesheet" href="/css/dashboard.css" />
    </head>

    <body>
        <%- include('../partials/header');%>

        <section id="boards-section">
            <h2 id="greeting">
                Hey,
                <span id="user-name"> <%=user.name.givenName%>! 👋 </span> What
                are we focusing on today?
            </h2>
            <div id="create-board">
                <input
                    class="create-board"
                    type="text"
                    placeholder="Create new board"
                />
                <button class="btn create-btn">Create</button>
            </div>

            <div id="boards">
                <% results.forEach(result => {%>
                <div
                    id="<%=result.boardid%>"
                    class="board-card drop"
                    draggable="true"
                    data-rank="<%=result.boardposition%>"
                >
                    <div class="dashboard-flaticons">
                        <img class="flaticons edit" src="img/edit.svg" />
                        <img class="flaticons trash" src="img/trash.svg" />
                    </div>
                    <div class="board-name" id="<%=result.boardid%>">
                        <%= result.boardname %>
                    </div>
                </div>
                <% }); %>
            </div>
        </section>

        <script
            type="module"
            src="/javascript/dashboard.js"
            async
            defer
        ></script>
        <script src="/javascript/DragDropTouch.js"></script>
    </body>
</html>
