<!DOCTYPE html>
<html>
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/header');%>

    <section id="board-dashboard">
      <input type="text" placeholder="Create new board">
      <button>Create</button>
      <% for (let i = 0; i < results.length; i++) { %>

      <div class="board-name">
        <% if (results) { %>
        <a href="/boards/<%=results[i].boardID%>/<%=encodeURI(decodeURI(results[i].boardName.toLowerCase()).replace(/ /g, "-"))%>"
          ><%= results[i].boardName %></a
        >
        <% } %>
      </div>
      <% } %>
    </section>
    <section class="charts">
      <div></div>
    </section>

    <script
      type="module"
      src="../../../javascript/dashboard.js"
      async
      defer
    ></script>
  </body>
</html>
