<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard | myMetrics</title>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <%- include('../partials/header');%>

      <section id="boards-section">
        <div id="create-board">
          <input class="create-board" type="text" placeholder="Create new board">
          <button id="btn">Create</button>
        </div>

      <div id="boards">  
        <% for (let i = 0; i < results.length; i++) { %>
          <% if (results) { %>
            <div class="board-card">
              <div class="vl"></div>
          <a class="board-name" href="/boards/<%=results[i].boardID%>/<%=encodeURI(decodeURI(results[i].boardName.toLowerCase()).replace(/ /g, "-"))%>"
            ><%= results[i].boardName %></a
          >
        </div>
          <% } %>
        <% } %>
      </div>
      </section>

    
    <script
      type="module"
      src="javascript/dashboard.js"
      async
      defer
    ></script>
 
  </body>
</html>
