<!DOCTYPE html>
<html>
  <head>
    <title>Leaderboard | myMetrics</title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header');%>

    <section id="leaderboard-section">
      <div id="leaderboard-table">
        <header>
          <div class="col">Rank</div>
          <div class="col">User</div>
          <div class="col">Time (hours)</div>
        </header>
  
        <% results.forEach((result, rank) => { %>
        <div class="row">
          <div class="col"><%=rank + 1%></div>
          <div class="col user">
            <img src="<%=result.userImage%>" alt="" />
            <div class="username">
              <%=`${result.firstName} ${result.lastName.substring(0, 1)}.`%>
            </div>
          </div>
          <div class="col"><%=Math.round(result.boardStudyTime/(60))%></div>
        </div>
        <% }) %>
        </div>
      </div>
    </section>
  </body>
</html>
