<!DOCTYPE html>
<html>
  <head>
    <title>Leaderboard | myMetrics</title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header');%>

    <section id="leaderboard-section">
      <h2 id="leaderboard-title">Global Leaderboard</h2>
      <h3 id="leaderboard-rank"> Position: <%= userRank%> <span id="rank-emoji">🎯</span></h3>
      <div id="leaderboard-table">
        <header>
          <div class="rank">Rank</div>
          <div class="username">User</div>
          <div class="time">Time (hours)</div>
        </header>
        
        <div id="leaderboard-rows">
          <% results.forEach((result, rank) => { %>
          <div class="row">
            <div class="rank"><%=rank + 1%></div>
            <div class="username">
              <img src="<%=result.userImage%>" alt="" />
              <div>
                <%=`${result.firstName} ${result.lastName.substring(0, 1)}.`%>
              </div>
            </div>
            <div class="time"><%=Math.round(result.boardStudyTime/(60 * 60))%></div>
          </div>
          <% }) %>
        </div>
        </div>
      </div>
    </section>
  </body>
</html>