<!DOCTYPE html>
<html>
  <head>
    <title>Study Session | myMetrics</title>
    <%- include('../partials/head'); %>
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>

  <body>
    <%- include('../partials/header');%>

    <section id="study">
      <% if(isSessionPageVisited === 'Yes') { %>
      <div>Study Session is Ended.</div>

      <%} else { %>

      <div id="study-list">
        <div class="todo-list-container">
          <div class="list-header">
            <h4 class="list-name" contenteditable>Target List</h4>
            <div class="modal">
              <h4><span>List Actions</span></h4>
              <p class="delete-list">Delete This List..</p>
            </div>
          </div>

          <div class="items">
            <% for (let i = 0; i < items.length; i++) { %>
            <div
              id="card-<%= items[i].itemID %>"
              class="todo-card"
              draggable="true"
            >
              <div class="todo-content">
                <input type="checkbox" />
                <p class="todo-description"><%= items[i].itemName %></p>
                <br />
                <div class="flaticons">
                  <img class="edit" src="../../img/edit.svg" />
                  <img class="trash" src="../../img/trash.svg" />
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <div id="study-timer"></div>
    </section>
    <script
      type="module"
      src="../../../javascript/study-session.js?=<%=version%>"
      async
      defer
    ></script>

    <% } %>
  </body>
</html>
